name: First Workflow

on: push
 
jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v4
              
            - name: Welcome Message
              run: echo "First Workflow"

            - name: List Files
              run: ls

            - name: Read File
              run: cat README.md